<div class="table-responsive">
		<table class="table table-bordered table-stripped table-hover">
	<thead>
				<tr>
						<th>Miles</th>
						<th>Time</th>
						<th>Company</th>
						<th>Air/Lb.</th>
						<th>Sea/SqFt.</th>
						<th>Next Flt</th>
						<th>Next Sea</th>
				</tr>
	</thead>
	<tbody>
				<tr>
					<% @services.each do |s| %>
						<td>MilesR</td>
						<td>TimeR</td>
						<td>%= s.shipper.shipco %></td>
						<td><%= s.air_price %></td>
						<td><%= s.sea_price %></td>
						<td>Next FltR</td>
						<td>Next Ship</td>
				</tr>
	</tbody>
</table>
</div>
 
-----------------------
<div class="table-responsive">
<table class="table table-bordered table-stripped table-hover">
	<thead>
				<tr>
						<th>Air/Lb.</th>
						<th>Sea/SqFt.</th>
						<th>Company</th>
						<th>Proximity</th>
						<th>Time</th>
						<th>Next Flt</th>
						<th>Next Sea</th>
				</tr>
	</thead>
	<tbody>
				<tr>
				<% @services.each do |s| %>
						<td><%= s.air_price %></td>
						<td><%= s.sea_price %></td>
						<td>%= s.shipper.shipco %></td>
						<td>Proximity</td>
						<td>TimeR</td>
						<td>Next FltR</td>
						<td>Next Ship</td>
				</tr>
	</tbody>
</table>
</div>