body {
  background-image: url(/assets/mainBkgrd.jpg);
  color: #d6d8ed;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 15px;
}
.well {
  font-color: #996666;
  padding: 3px;

}

.select_tag.input-lg {
  height: 46px;
  line-height: 46px;
}

.top-banner {
  background-image: url(/assets/topBarBckGrnd.jpg);
  color: #5a1d11;
  font-size: 11px;
  line-height: 15px;
}


.top{
  position: absolute;
  top: 0;
}

.img-responsive{
  display: block;
height: auto;
max-width: 200%;
}

#text-img
{
    z-index:100;
    position:absolute;    
    color:white;
    font-size:11px;
    font-weight:bold;
    left:75px;
    top:5px;
}
#text-img2
{
    z-index:100;
    position:absolute;    
    color:beige;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:17px;
    font-weight:bold;
    right:5px;
    top:30px;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 15px;
}

pre {
  background-color: #eee;
  padding: 7px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.block {
   color: #dedede;
}